<div class="contenedor">
    <div class="contenido" id="perfil">
        <tr *ngFor="let persona of personas">
            <h1 class="h1">Información del usuario: {{persona.name.first+' '+persona.name.last+' '+persona.name.title}}
            </h1>
        </tr>


        <div id="bloque1">
            <table >
                <ul class="list-group list-group-flush" *ngFor="let persona of personas">
                    <th scope="col">
                        <mat-icon class="icon">account_circle</mat-icon>Nombres y Apellidos
                    </th>
                    <td>{{persona.name.first+' '+persona.name.last+' '+persona.name.title}}</td>
                    <br>

                    <th scope="col">
                        <mat-icon class="icon">info</mat-icon>Codigo de Usuario
                    </th>
                    <td>{{persona.id.value}}</td>
                    <br>

                    <th scope="col">
                        <mat-icon class="icon">portrait</mat-icon>Edad
                    </th>
                    <td>{{persona.dob.age}} años</td>
                    <br>

                    <th scope="col">
                        <mat-icon class="icon">phone</mat-icon> N° de Celular
                    </th>
                    <td>{{persona.cell}}</td>
                    <br>

                    <th scope="col">
                        <mat-icon class="icon">perm_identity</mat-icon>Sexo
                    </th>
                    <td>{{persona.gender}}</td>
                    <br>
                    <th scope="col">
                        <mat-icon class="icon">email</mat-icon>Correo
                    </th>
                    <td>{{persona.email}}</td>
                    <br>

                    <th scope="col">
                        <mat-icon class="icon">location_city</mat-icon>Ciudad
                    </th>
                    <td>{{persona.location.city}}</td>
                    <br>

                    <th scope="col">
                        <mat-icon class="icon">pin_drop</mat-icon>Codigo postal
                    </th>
                    <td>{{persona.location.postcode}}</td>
                    <br>

                    <th scope="col">
                        <mat-icon class="icon">person_pin_circle</mat-icon>Pais
                    </th>
                    <td>{{persona.location.country}}</td>
                </ul>
                <br>
                <button type="button" class="btn btn-secondary" onclick="document.location.reload();">Actualizar</button>
            </table>
        </div>

        <div id="bloque2">
            <tr *ngFor="let persona of personas">
                <img class="img" src={{persona.picture.large}}>
                <br>
                <div class="google">
                    <google-map width="350px" height="350px" [center]="position">
                        <map-marker [position]="position" [label]="label">
                        </map-marker>
                    </google-map>

                </div>

            </tr>
        </div>

    </div>
</div>